body{
	padding-top: 40px;
}


#cform .btn:hover {
	background: rgba(9,8,77,0.7);
}

#address {
	width: 100%;
	height: 150px;
	padding: 15px 15px;
	margin-bottom: 10px;
	border: 1px solid #D6D2D2;
	border-radius: 5px;
}

#myMap {
	width: 100%;
	height: 350px;
	margin-bottom: 15px;
	border: 1px solid #D6D2D2;
	border-radius: 5px;
}

/*Views/crud.php*/
td.kms-datacolumn{
    vertical-align:middle !important;
}
ul.chosen-choices.form-control{
    height:34px;
    padding:4px 12px
}
ul.chosen-choices.form-control li.search-choice{
    margin-top: 2px;
}